@mixin link {
  width: 500px;
  height: 500px;
  margin: 2vh;
  border: 1px solid black;
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.need-button {
  @include link;
  background-color: rgb(186, 196, 47);
}

.give-button {
  @include link;
  background-color: rgb(28, 153, 153);
}

.page {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.text {
  font-size: 2rem;
  margin: auto;
}
